Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
web/node_modules/
web/dist/
src/main/resources/web/main.js
src/main/resources/web/main.js.LICENSE.txt
